$main-text-color:#1B1C21;
$text-add-color: #7E7E82;
$text-input-color: #B5B6BC;
$text-btn-color: #ffffff;
$text-nda-color: #FF3E79;
$main-color: #F8F8F8;
$add-background-color: #ffffff;
$white: #ffffff;
$button-color: #FF3E79;
$add-color: #41F6D7;
$add-color-border: #B8FFEC;
$border-color: #EAEAEA;

