.about-company {
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  @media (max-width: 767.98px) {
    margin-left: -16px;
    margin-right: -16px;
  }
  @media (min-width: 768px) {
    flex-direction: row;
    column-gap: 48px;
  }
  @media (min-width: 1440px) {
    flex-direction: row;
    column-gap: 36px;
    margin-bottom: 32px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px;
    margin-top: 0;
    @media (min-width: 767.98px) {
      margin: 0;
      flex-basis: 65%;
    }
    @media (min-width: 1440px) {
      flex-basis: 50%;
    }
  }

  &__description {
    max-height: 94px;
    overflow: hidden;

    @media (min-width: 767.98px) {
      max-height: 155px;
    }
    @media (min-width: 1440px) {
      max-height: 160px;
    }
  }
  &__read-more {
    padding: 0;
    border: none;
    background: none;
    display: flex;
    font-family: 'TTLakes';
    font-weight: 500;
    font-size: 16px;
    @media (max-width: 767.98px) {
      margin-bottom: 16px;
    }
    @media (max-width: 1439.98px) {
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: auto;
    }
    @media (min-width: 1440px) {
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: auto;
    }
    &::before {
      content: '';
      width: 24px;
      height: 24px;
      display: flex;
      background-image: url('../img/expand.svg');
      background-repeat: no-repeat;
      background-position: -5px -2px;
    }
  }

  &__company-signboard {
    object-fit: contain;
    width: 100%;
    height: 100%;

    @media (max-width: 1439.98px) {
      margin: 0;
      flex-basis: 35%;
    }
    @media (min-width: 1440px) {
      margin: 0;
      flex-basis: 50%;
    }
  }
}
