@use 'variables.scss' as *;

.modal-feedback {
  &__container {
    display: none;
    &--opened {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      animation: openModal 0.45s ease-in-out forwards;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      background-color: $add-background-color;
      z-index: 200;
      box-shadow:
        16px 0px 52px 0px rgba(14, 24, 80, 0.2),
        -2px 0px 4px 0px rgba(69, 79, 126, 0.02);

      @media (max-width: 767.98px) {
        width: 320px;
        padding: 0 16px;
      }
      @media (min-width: 768px) {
        width: 440px;
        padding: 0 32px;
        border-left: 1px solid $add-color;
      }
    }
  }
  &__button-close {
    background-image: url('../img/icon_x.svg');
    @media (max-width: 767.98px) {
      margin-top: 32px;
    }
    @media (min-width: 768px) {
      position: absolute;
      left: -60px;
      top: 35px;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 32px;

    &::before {
      content: '';
      width: 4px;
      height: 32px;
      background-color: $add-color;
      position: absolute;
      border-radius: 0 50px 50px 0;
      left: 0px;
    }
  }
  &__input-field {
    color: $text-input-color;
    border-radius: 8px;
    border: 1px solid $border-color;
    height: 48px;
    padding: 0 16px;

    @media (max-width: 767.98px) {
      width: 288px;
    }
    @media (min-width: 768px) {
      width: 376px;
    }
  }
  &__message {
    resize: none;
    height: 118px;
    border-radius: 8px;
    border: 1px solid $border-color;
    padding: 16px 16px 0 16px;

    @media (max-width: 767.98px) {
      width: 288px;
    }
    @media (min-width: 768px) {
      width: 376px;
    }
  }

  &__button-send {
    align-self: flex-end;
    flex-shrink: 0;
    padding-left: 16px;
    position: relative;
    @media (max-width: 767.98px) {
      margin-right: 16px;
    }
    @media (min-width: 768px) {
      margin-right: 32px;
    }
    &::after {
      content: '';
      right: 10px;
      bottom: 8px;
    }
  }

  &__blur {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $add-background-color;
    opacity: 0;
    z-index: -2;

    &--open {
      opacity: 0.92;
      z-index: 200;
    }
  }
}
.NDA {
  font-weight: 500;
  a {
    color: $text-nda-color;
  }
}

.modal-call {
  &__container {
    display: none;
    &--opened {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      animation: openModal 0.45s ease-in-out forwards;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      background-color: $add-background-color;
      z-index: 200;
      box-shadow:
        16px 0px 52px 0px rgba(14, 24, 80, 0.2),
        -2px 0px 4px 0px rgba(69, 79, 126, 0.02);

      @media (max-width: 767.98px) {
        width: 320px;
        padding: 0 16px;
      }
      @media (min-width: 768px) {
        width: 440px;
        padding: 0 32px;
        border-left: 1px solid $add-color;
      }
    }
  }
  &__button-close {
    background-image: url('../img/icon_x.svg');
    @media (max-width: 767.98px) {
      margin-top: 32px;
    }
    @media (min-width: 768px) {
      position: absolute;
      left: -60px;
      top: 35px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 32px;

    &::before {
      content: '';
      width: 4px;
      height: 32px;
      background-color: $add-color;
      position: absolute;
      border-radius: 0 50px 50px 0;
      left: 0px;
    }
  }
  &__input-field {
    border-radius: 8px;
    border: 1px solid $border-color;
    height: 48px;
    padding: 0 16px;
    @media (max-width: 767.98px) {
      width: 288px;
    }
    @media (min-width: 768px) {
      width: 376px;
    }
  }
  &__message {
    resize: none;
    height: 118px;
    border-radius: 8px;
    border: 1px solid $border-color;
    padding: 16px 16px 0 16px;
    @media (max-width: 767.98px) {
      width: 288px;
    }
    @media (min-width: 768px) {
      width: 376px;
    }
  }

  &__button-send {
    align-self: flex-end;
    flex-shrink: 0;
    padding-left: 16px;
    position: relative;
    @media (max-width: 767.98px) {
      margin-right: 16px;
    }
    @media (min-width: 768px) {
      margin-right: 32px;
    }
    &::after {
      content: '';
      right: 12px;
      bottom: 9px;
    }
  }

  &__blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $add-background-color;
    opacity: 0;
    z-index: -1;

    &--open {
      opacity: 0.92;
      z-index: 200;
    }
  }
}
@keyframes openModal {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
